p {
    margin: 0;
}

.Card {
    background: white;
    border-radius: 10px;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: green;
    color: #fff;
    font-size: 13px;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}
.btn {
    display: flex;
    justify-content: center;
    background: #d77330;
    color: #fff;
    font-size: 1em;
    border-style: none;
    padding: 5px 10px;
    border-radius: 5px;
    /* margin-left: 10px;
    margin-right: 10px; */
  }
  
.button {
    padding: 10px;
}